.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--css-primary);
  flex-wrap: wrap;
  margin: 0;
  height: 4.625rem;
  padding: 0 32px;
}

.navbar img {
  height: 34px;
  width: 67px;
}